/* @import "~materialize-css/dist/css/materialize.min.css"; */
@import './components/pwnz.css';
@import './components/pwnzstyles.css';

img { display: block !important; }

input.yellow-input {
    border-bottom: 1px solid #fff !important;
    box-shadow:0 1px 0 0 #fff !important;
}

input.yellow-input + label {
    color: #ffffff !important;
}

input.yellow-input:focus + label {
    color: #ffeb3b  !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
}

button {
    cursor:pointer !important; 
}

button:focus, button:active {
    background-color: whitesmoke !important;
}
  
  -ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
}

input.yellow-input:focus {
    border-bottom: 1px solid #ffeb3b !important;
    box-shadow:0 1px 0 0 #ffeb3b  !important;
}

input[type='checkbox'] {
    cursor:pointer;
    position:inherit !important;
    opacity: 1 !important;
    pointer-events:auto !important;
}

input[type="range"] {
    border:0 !important;
}

.pwnz-buttonWdropmenu {
    position: relative;
}

.pwnz-dropmenu {
    opacity:1;
}

.pwnz-active {
    opacity:1 !important;
}



.pwnz-dropmenu-down-left {
    position:absolute;
    right:0;
    background-color:whitesmoke;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    z-index: 1;
}

.pwnz-dropmenu-up-left {
    position:absolute;
    right:0;
    bottom: 100%;
    background-color:whitesmoke;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    z-index: 1;
    
}

.pwnz-dropmenu-inner {
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.pwnz-dropmenu-inner > p {
    text-align: right;
}

.pwnz-dropmenu-checkbox {
    display:flex;
    justify-content: space-between;
}

.pwnz-buttonWithToggleMenu {
    display:flex;
    flex-direction: column;
}

.pwnz-submitButton {
    height:3em;
}

.pwnz-clickable {
    cursor: pointer;
}

.pwnz-title {
    font-size:24px;
}




.animated-360-rotation {
    animation: fullRotation 0.5s;
}
.animated-360-rotation-back {
    animation: fullRotationBack 0.5s;
}



@keyframes fullRotation {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@keyframes fullRotationBack {
    from{
        -webkit-transform: rotate(360deg);
    }
    to{
        -webkit-transform: rotate(0deg);
    }
}

.animated-405-rotation {
    animation: rotation405 0.5s;
    animation-fill-mode: forwards;
}
.animated-405-rotation-back {
    animation: rotationBack405 0.5s;
    animation-fill-mode: forwards;
}

@keyframes rotation405 {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(405deg);
    }
}

@keyframes rotationBack405 {
    from{
        -webkit-transform: rotate(405deg);
    }
    to{
        -webkit-transform: rotate(0deg);
    }
}

.animated-180-rotation {
    animation: rotation180 0.5s;
    animation-fill-mode: forwards;
}
.animated-180-rotation-back {
    animation: rotationBack180 0.5s;
    animation-fill-mode: forwards;
}

@keyframes rotation180 {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(180deg);
    }
}

@keyframes rotationBack180 {
    from{
        -webkit-transform: rotate(180deg);
    }
    to{
        -webkit-transform: rotate(0deg);
    }
}