.homepage-container {
    display:flex;
}

.pwnz-widgets {
    width:500px;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin:10px;
}

.pwnz-widgets > * {
    margin: 10px 0;
}

.pwnz-blog {
    flex-grow:1;
    padding:20px;
}