$mainBackgroundColor: #ebf9fe;


$mainButtonColor: #d0ffd6;
$checkedButtonColor: #99FFA7;

$mainButtonHoverColor: #8eb8e5;

$mainFormColor: #d7f3fe;
$lighterFormColor: #ebf9fe;

$mainButtonShadows: 1px 1px 1px 1px rgba(34, 60, 80, 0.2);

$mainButtonBorderRadius:2px;

$mainWindowsColor:#d7f3fe;

$mainBorder: 2px solid lightgray;
$mainBorderColor: lightgray;

$mainBorderRadius: 4px;

$mainScreenCoverColor: rgba(211, 211, 211, 0.8);
$mainScreenCoverOpacity:0.7;

$coverZIndex: 990;

