$mainBackgroundColor: #E8E5DA;


$mainButtonColor: #d0ffd6;

$mainButtonHoverColor: #8eb8e5;

$mainFormColor: #d7f3fe;
$lighterFormColor: #ebf9fe;

$mainButtonShadows: 1px 1px 1px 1px rgba(34, 60, 80, 0.2);

$mainButtonBorderRadius:2px;

$mainWindowsColor:#d7f3fe;

$mainBorderColor:#c7c7d1;

$mainBorderRadius: 4px;

$mainScreenCoverColor: rgba(211, 211, 211, 0.6);
$mainScreenCoverOpacity:0.7;

$coverZIndex: 990;