.auth-form {
    width:500px;
    /* border:1px solid black; */
}

.auth-form-tabs {
    width:100%;
    display:flex;
    flex-direction:row; 
    justify-content: space-evenly;
}

.auth-form-tab {
    flex-grow:1;
}

.auth-form-tab:first-child {
    border-right:1px solid lightgray;
}

.auth-form-tab > p {
    text-align:center;
}

.auth-form-tab-active {
     /*background: #abf583; #1e88e5; #1e88e5a8*/
    cursor:default;
}

.auth-form-tab-inactive {
	background: #1e88e575;
    cursor: pointer;
    border-bottom:1px solid lightgray;
}

.auth-form-message-negative {
    text-align:center;
    color:red;
}

.auth-form-message-positive {
    text-align:center;
    color:green;
}

.auth-form-alert {
    color:red;
}

.auth-form-submit-button {
    width:100%;
    border: 0;
	outline: none;
	border-radius: 0;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #1e88e575;
	cursor: pointer;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.auth-form-submit-button:disabled {
    color: #888;
	background: #e5e6e7;
    cursor:default;
}

.auth-form-body {
    padding:20px;
}


.auth-form-forgot-password {
    margin-bottom:0;
    text-align:right;
    color: #1e88e5;
    cursor:pointer;
}

.auth-form-title {
    font-size:24px;
    text-align:center;
    margin-top:0;
}

.auth-form-inputToggle {
    width: 40px;
    height:100%;
    right:0;
    top:0;
    position:absolute;
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
}
