
.pwnz-container {
    width:100%;
    height:100%;
    flex-grow:1;
}

.pwnz-container select {
    cursor: pointer;
}

.pwnz-p510 {
    padding:5px 10px;
}

.pwnz-p010 {
    padding:0 10px;
}

.pwnz-p10 {
    padding:10px;
}

.pwnz-p5 {
    padding:5px;
}

.pwnz-m0 {
    margin:0 !important;
}

.pwnz-m010 {
    margin:0 10px;
}

.pwnz-mt0 {
    margin-top:0;
}

.pwnz-m10 {
    margin:10px;
}

.pwnz-m5 {
    margin:5px;
}


.pwnz-mt10 {
    margin-top:10px;
}

.pwnz-mr5 {
    margin-right:5px;
}

.pwnz-mb0 {
    margin-bottom:0;
}
.pwnz-mb10 {
    margin-bottom:10px;
}

.pwnz-ml5 {
    margin-left:5px;
}

.pwnz-ml10 {
    margin-left:10px;
}

.pwnz-f-c {
    display:flex;
    align-items: center;
    justify-content: center;
}

.pwnz-f-ec {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.pwnz-f-es {
    display:flex;
    justify-content: space-evenly;
    align-items:flex-start;
}

.pwnz-f-c-stretch {
    display:flex;
    align-items: stretch;
    justify-content: center;
}

.pwnz-f-cc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pwnz-if {
    display:inline-flex;
}

.pwnz-f-vc {
    display:flex;
    align-items: center;
}

.pwnz-t-c {
    text-align: center;
}

.pwnz-select {
    display:flex;
    align-items:center;
}



.pwnz-button {
    display: table;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 1px 1px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 1px 1px 1px rgba(34, 60, 80, 0.2);
    background-color: #d0ffd6;
    border-radius: 2px;
  }

.pwnz-button > div {
    display: table-cell;
    height:100%;
    vertical-align: middle;
    text-align: center;
    padding:5px;
  }
  
  .pwnz-button:hover {
    background-color: #8eb8e5;
  }
  
  .pwnz-button > span {
    text-align: center;
    width:100%;
    height:100%;
    padding:5px;
  }

  .pwnz-f {
      display:flex;
  }

  .pwnz-f-shrink1 {
      flex-shrink: 1;
  }

  .pwnz-f-grow1 {
      flex-grow:1;
  }

  .pwnz-dotsButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .pwnz-dotsButton > span {
    display:inline-block;
    height:10px;
    width:10px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    margin:5px 2px;
  }

  .pwnz-dotsButton:hover > span {
    background-color: black;
    margin:5px 3px;
  }

  
  .pwnz-button-40x40 {
    height:40px;
    width:40px;
    text-align:center;
    cursor:pointer;   
}

.pwnz-button-30x30 {
    height:30px;
    width:30px;
    text-align:center;
    cursor:pointer;   
}

.pwnz-nowrap {
    white-space:nowrap;
}

.pwnz-disabled {
    background-color: lightgray !important;
    pointer-events: none;
}

.pwnz-checked {
    background-color: lightgreen;
}

.pwnz-checkbox {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.pwnz-checkbox > span {
    margin-right:10px;
}


.pwnz-bwdm {
    position: relative;
}

.pwnz-bwdm-c {
    opacity:1;
}

.pwnz-bwdm-c-inner {
        display:flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
}

.pwnz-bwdm-downLeft {
    position:absolute;
    right:0;
    background-color:whitesmoke;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    z-index: 1;
    
}

.pwnz-bwdm-upLeft {
    position:absolute;
    right:0;
    background-color:whitesmoke;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    z-index: 1;
}

.pwnz-bwtm-bd {
    width:100%;
}

.pwnz-curtain {
    position:fixed;
    width:100vw;
    height:100vh;
    top:0;
    right:0;
    background-color: rgba(128, 128, 128, 0.7);
}

.pwnz-alert-red {
    color: lightcoral;
}

.pwnz-alert-green {
    color: lightgreen;
}

.pwnz-fs23 {
    font-size: 23px;
}

.pwnz-fs25 {
    font-size: 25px;
}

.pwnz-fwn {
    font-weight: normal;
}

.pwnz-wa {
    width:auto;
}

.pwnz-w100 {
    width:100%;
}

.pwnz-w400 {
    width:400px;
}

.pwnz-w600 {
    width:600px;
}

.pwnz-h100 {
    height:100%;
}

.pwnz-mainTheme {
    border: 2px solid #c7c7d1;
    border-radius: 4px;
    padding: 10px;
    background-color: #d7f3fe;
}

.pwnz-clickable {
    cursor: pointer;
}

.pwnz-bt-lightgray {
    border-top:1px solid lightgray;
}

.pwnz-bb-lightgray {
    border-bottom:1px solid lightgray;
}