@import './pwnzstylesVariables';
@import './pwnzstylesFunctions';
@import './pwnzstylesAnimations';

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-family: $mainFont;
    font-weight: normal;
    font-size:$mainFontSize;
    -webkit-text-size-adjust: 100%;
    line-height: $mainLineHeight;
}

body {
    min-width: 1366px;
    margin:0px;
    box-sizing: border-box;
}

ul:not(.default) {
    padding-left: 0;
    list-style-type: none;
}

input:not(.default) {
    &:focus-visible {
        outline:none;
        border-bottom: 1px solid #1e88e5 !important;
    }
    &[type="password"] {
        -webkit-text-security: disc !important;
    }
    &:not([type="checkbox"]) {
        background-color: $lighterFormColor;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        // outline: none;
        height: 3rem;
        width: 100%;
        font-size: 16px;
        margin: 0;
        padding: 0 5px;
        box-shadow: none;
        transition: box-shadow .3s, border .3s;
        position: relative;
        line-height:$subLineHeight;
    }  
}

select {
    font-family: $mainFont;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    width:100%;
}

textarea {
    background-color: transparent;
    font-family: $mainFont;
    font-size:$textareaFontSize;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    &:focus-visible {
        outline:none;
        border: 1px solid #1e88e5 !important;
    }
}

table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

.pwnz-container {
    width:100%;
    height:100%;
    flex-grow:1;
    display:flex;
}

.input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    label {
        font-size: $mainFontSize*0.9;
        color:$lightTextColor;
    }
}

.pwnz-input {
    position: relative;
}

.pwnz-nav {
    min-width: 1366px !important;
    width:100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    .pwnz-nav-wrapper {
        position: relative;
        padding: 0 2rem;
        background-color: $navColor;
        height:64px;
        line-height: 64px;
    }
    span {
        position: absolute;
        color:$navTextColor;
        display: inline-block;
        font-size:2.1rem;
        padding:0;
    }
    ul {
        display:block;
        float:right;
        margin:0;
        list-style-type:none;
        li {
            transition: background-color .3s;
            float: left;
            padding: 0;
            a {
                transition: background-color .3s;
                font-size: 1rem;
                color: #fff;
                display: block;
                padding: 0 15px;
                cursor: pointer;
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
                &:hover {
                    background-color: rgba(0,0,0,0.1);
                }
            }
        }
    }
}

.pwnz-footbar {
    width: 100%;
    padding: 10px;
}

.page-container {
    min-height:100vh;
    @include flex(column,space-between);
    background-color: $mainBackgroundColor;
    select {
        background-color: $lighterFormColor;
        padding: 5px;
        border: $mainBorder;
        border-radius: $mainBorderRadius;
        height: 3rem;
    }
    input {
        background-color: $lighterFormColor;
    }
    textarea {
        border: $mainBorder;
        border-radius: $mainBorderRadius;
    }
}

.error-page-container {
    min-height: 100vh;
    @include flex(row,center);
    background-color: $mainBackgroundColor;
}

.pwnz-errorMessage {
    @include mainForm();
}

.authpage-container {
    height:100vh;
    width:100vw;
    @include flex(row,center);
}

.resetpage-container {
    height:100vh;
    width:100vw;
    @include flex(row,center);
}

.homepage-container {
    display:flex;
    width:100%;
    .pwnz-blog {
        flex-grow:1;
        padding:20px;
    }
    .pwnz-widgets {
        width:500px;
        height:100%;
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        margin:10px;
    }
    .pwnz-widgets > * {
        margin: 10px 0;
    }
}

.servicespage-container {
    display:flex;
    flex-direction: column;
    width:100%;
    .services-container {
        display:flex;
        justify-content: center;
        align-items:flex-start;
    }
    .services-service {
        display:flex;
        justify-content: center;
        align-items: center;
        margin:auto;
    }
    
    .big-button {
        font-size:24px;
        padding:10px;
        margin:10px;
    }
}

.gamespage-container {
    display:flex;
    flex-direction: column;
    width:100%;
    .games-container {
        display:flex;
        justify-content: center;
        align-items:flex-start;  
    }
    .games-container > div {
        margin:10px;
    }
    .games-game {
        display:flex;
        justify-content: center;
        margin:auto;
    }
    .big-button {
        font-size:24px;
        padding:10px;
        margin:10px;
    }
}

.biopage-container {
    @include flex(column,flex-start);
    .aboutMe {
        font-size: 16px;
        @include mainForm();
    }
}

.videopage-container {
    flex-grow:1;
}   


.pwnz-button {
    background-color: $mainButtonColor;
    display: table;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: $mainButtonShadows;
    -moz-box-shadow: $mainButtonShadows;
    box-shadow: $mainButtonShadows;
    border-radius: $mainButtonBorderRadius;
    div {
        display: table-cell;
        height:100%;
        vertical-align: middle;
        text-align: center;
        padding:5px;
    }
    &:hover {
        background-color: $mainButtonHoverColor;
    }
}

.pwnz-color-red {
    color:red;
}

.pwnz-ul-hor {
    margin:0;
    @include flex(row,center);
    li {
        display:inline;
        margin: 0 10px;
    }
   
}

.pwnz-footbar-button {
    height:30px;
    cursor:pointer;
    padding:0 5px;
    border:2px solid black;
    border-radius: 4px;
    &:hover {
        background-color: lightgray;
    }
}

.pwnz-grayout {
    @include screenCover();
    @include flexCenter(row);
}


.pwnz-feedbackForm {
    @include mainForm();
    padding:10px;
    width:800px;
}

.pwnz-textContainer-editable {
        @include lightForm();
}

.pwnz-loader-wrapper {
    position: fixed;
    height:100vh;
    width:100vw;
    margin:0 !important;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items:center;
    z-index:998;
    background-color: $mainLoaderColor;
}

.pwnz-select > span {
    margin-right:10px !important;
}

.pwnz-select > select {
    display:block !important;
    cursor: pointer;
}

.pwnz-checked {
    background-color: $checkedButtonColor;
}

.auth-form {
    background-color: $mainFormColor;
}

.calc-body {
    background-color: $mainFormColor;
}

.pwnzGallery {
    margin:0 20px;
    @include mainForm();
}

.tictactoe {
    margin:0 20px;
    @include mainForm();
}

.sudoku {
    @include mainForm();
    padding:10px;
}

.pwnz-col {
    display:flex;
    flex-direction: column;
}


.currency {
    table {
        @include mainTable();
    }
   
}

.mainForm {
    @include mainForm();
}

.auth-form {
    @include mainForm();
}

.pwnz-sticky0 {
    position: sticky;
    top: 0;
    box-shadow: 0 1px 1px -1px lightgray;
    background-color: #cee5f2;
}

.pwnz-scrollTopButton {
    position: fixed;
    right:0;
    bottom:0;
    z-index: 997;
    margin:20px;
}

.pwnz-href {
    color: #1e88e5;
    cursor: pointer;
}

.pwnz-dotsButton-mini {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        > span {
            background-color: black;
        }
    }
    span {
        display:inline-block;
        height:5px;
        width:5px;
        border-radius: 50%;
        background-color: gray;
        cursor: pointer;
        margin:5px 2px;
        padding:0;
      }
  }

  .pwnz-alert-red {
      color:red;
  }

  .pwnz-alert-green {
      color:green;
  }

    .pwnz-infinitySpin360 {
    animation: spin360 2s ease infinite;
  }
