.page-container {
  background-color: #ebf9fe;
}

.page-container select {
  background-color: #ebf9fe;
  padding: 5px;
  border: 2px solid lightgray;
  border-radius: 4px;
  height: 3rem;
}

.page-container input {
  background-color: #ebf9fe;
}

.page-container textarea {
  border: 2px solid lightgray;
  border-radius: 4px;
}

.pwnz-button {
  background-color: #d0ffd6;
  display: table;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 1px 1px 1px rgba(34, 60, 80, 0.2);
  border-radius: 2px;
}

.pwnz-button div {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
}

.pwnz-button:hover {
  background-color: #8eb8e5;
}

.biopage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.biopage-container .aboutMe {
  font-size: 24px;
}

.pwnz-footbar {
  width: 100%;
  padding: 10px;
}

.page-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pwnz-ul-hor {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pwnz-ul-hor li {
  display: inline;
  margin: 0 10px;
}

.pwnz-footbar-button {
  height: 30px;
  cursor: pointer;
  padding: 0 5px;
  border: 2px solid black;
  border-radius: 4px;
}

.pwnz-footbar-button:hover {
  background-color: lightgray;
}

.pwnz-grayout {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(211, 211, 211, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pwnz-feedbackForm {
  background-color: #d7f3fe;
  border: 2px solid lightgray;
  border-radius: 4px;
  padding: 10px;
  width: 800px;
}

.pwnz-textContainer-editable {
  background-color: #ebf9fe;
  border: 2px solid lightgray;
  border-radius: 4px;
}

.pwnz-loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0 !important;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 998;
  background-color: #ebf9fe50;
}

.pwnz-select > span {
  margin-right: 10px !important;
}

.pwnz-select > select {
  display: block !important;
  cursor: pointer;
}

.pwnz-checked {
  background-color: #99FFA7;
}

.auth-form {
  background-color: #d7f3fe;
}

.calc-body {
  background-color: #d7f3fe;
}

.pwnzGallery {
  margin: 0 20px;
  background-color: #d7f3fe;
  border: 2px solid lightgray;
  border-radius: 4px;
}

.tictactoe {
  margin: 0 20px;
  background-color: #d7f3fe;
  border: 2px solid lightgray;
  border-radius: 4px;
}

.sudoku {
  background-color: #d7f3fe;
  border: 2px solid lightgray;
  border-radius: 4px;
  padding: 10px;
}

.pwnz-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=pwnzstyles.css.map */