.pwnz-card-body {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    padding:10px;
  }
  
  .pwnz-card-body p {
    margin: 0;
    padding: 0;
    word-break: normal;
    text-align: center;
    white-space: normal;
  }
  
  .pwnz-card-title {
    font-size: 24px;
    margin: 0 5px 5px 5px;
  }
  
  .pwnz-card-description {
    font-size: 16px;
    margin: 5px;
  }
  
  .pwnz-card-button {
    width:100%;
  }
  