@import './pwnzstylesVariables';
@import './pwnzstylesFunctions';

.page-container {
    background-color: $mainBackgroundColor;
    select {
        background-color: $lighterFormColor;
        padding: 5px;
        border: $mainBorder;
        border-radius: $mainBorderRadius;
        height: 3rem;
    }
    input {
        background-color: $lighterFormColor;
    }
    textarea {
        border: $mainBorder;
        border-radius: $mainBorderRadius;
    }
}


.pwnz-button {
    background-color: $mainButtonColor;
    display: table;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: $mainButtonShadows;
    -moz-box-shadow: $mainButtonShadows;
    box-shadow: $mainButtonShadows;
    border-radius: $mainButtonBorderRadius;

    div {
        display: table-cell;
        height:100%;
        vertical-align: middle;
        text-align: center;
        padding:5px;
    }

    &:hover {
        background-color: $mainButtonHoverColor;
    }
}

.biopage-container {
    @include flexCenter(column);

    .aboutMe {
        font-size: 24px;
    }
}

.pwnz-footbar {
    width: 100%;
    padding: 10px;

}

.page-container {
    min-height:100vh;
    @include flex(column,space-between)
}

.pwnz-ul-hor {
    margin:0;
    @include flex(row,center);
    li {
        display:inline;
        margin: 0 10px;
    }
   
}

.pwnz-footbar-button {
    height:30px;
    cursor:pointer;
    padding:0 5px;
    border:2px solid black;
    border-radius: 4px;
    &:hover {
        background-color: lightgray;
    }
}

.pwnz-grayout {
    @include screenCover();
    @include flexCenter(row);
}


.pwnz-feedbackForm {
    @include mainForm();
    padding:10px;
    width:800px;
}

.pwnz-textContainer-editable {
        @include lightForm();
}

.pwnz-loader {
    position: fixed;
    height:100vh;
    width:100vw;
    margin:0 !important;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items:center;
    z-index:998;
    background-color: $mainLoaderColor;
}

.pwnz-select > span {
    margin-right:10px !important;
}

.pwnz-select > select {
    display:block !important;
    cursor: pointer;
}

.pwnz-checked {
    background-color: $checkedButtonColor;
}

.auth-form {
    background-color: $mainFormColor;
}

.calc-body {
    background-color: $mainFormColor;
}

.pwnzGallery {
    margin:0 20px;
    @include mainForm();
}

.tictactoe {
    margin:0 20px;
    @include mainForm();
}

.sudoku {
    @include mainForm();
    padding:10px;
}

.pwnz-col {
    display:flex;
    flex-direction: column;
}


