.sudoku {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.sudoku * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

.sudoku-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sudoku-buttons > button {
  padding: 0;
  margin: 10px;
}

.sudoku-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sudoku-board-squares-row {
  display: flex;
  flex-direction: row;
}

.sudoku-board-squares-row-square {
  display: flex;
  flex-direction: column;
}
.sudoku-board-squares-row-square-row {
  display: flex;
  flex-direction: row;
}

.sudoku input {
  width: 50px;
  height: 50px;
  text-align: center;
  outline: 1px solid grey;
  outline-offset:-1px;
  margin:0;
}

.sudoku input:disabled {
  outline: 1px solid grey;
  outline-offset:-1px;
 background-color: rgb(223, 223, 223);
}

.sudoku-board-squares-row-square {
  outline: 2px solid black;
  outline-offset: -2px;
}
