.pwnz-weatherTable-micro {
  background-color: #cee5f2;
  border: 2px solid #c7c7d1;
  border-radius: 4px;
}

.pwnz-weatherTable-micro > div{
    display:flex;
    justify-content: space-evenly;
}

.pwnz-weatherTable-micro > div > span{
    text-align: center;
}

.pwnz-weatherTable-micro select {
  background-color: #ebf9fe;
}

.weather-table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #cee5f2;
    border: 2px solid #c7c7d1;
    border-radius: 4px;
  }

  .weather-table-mini {
    width:500px;
  }
  
  .weather-table select {
    background-color: #ebf9fe;
  }

  .weather-table table {
    border: 1px solid #accbe1;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
  
.weather-table td {
    border: 1px solid #accbe1;
    text-align: center; 
    vertical-align: middle;
    padding:0 5px 0 5px;
  }

  .weather-table td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .weather-table td * {
    margin-top:1px;
    margin-bottom:1px;
  }

  .weather-table th {
    padding:5px;
    font-size:16px;
    text-align: center; 
    vertical-align: middle;
    border: 1px solid #accbe1;
    border-collapse: collapse;
  }

  .weather-table th button {
    margin:0 10px 0 10px;
  }

  .weather-table-controlsDiv:not(:first-child) {
    margin:10px;
}

  .weather-table-controlsDiv:first-child {
    margin:10px 10px 0 10px;
}


.weather-table-controlsDiv > div {
      display:flex;
      align-items:center;
      justify-content: center;
      margin-bottom:10px;
  }

.weather-table-controlsDiv > div > * {
    margin:0 10px 0 10px;
}
  